.wrapper {
  display: block;
  position: relative;
}

.text {
  font-size: 14px;
  line-height: 18px;
}

.showPasswordButton {
  font-size: 12px;
}

.text, .showPasswordButton {
  display: inline-flex;
  color: var(--neutral-n100);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  margin-bottom: 4px;
}

.input {
  padding: 6px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
}

.input, .selectClassName {
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--neutral-n50);
  color: var(--neutral-black);
}

.label, .input, .selectClassName {
  color: var(--neutral-n100);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.selectClassName {
  padding: 8px 8px 8px 12px;
  border-radius: 10px;
  border: 1px solid var(--neutral-n30);
  background: var(--neutral-white-n10);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  color: var(--neutral-black);
  font-size: 16px;
  line-height: 20px;
  font-family: var(--primary-font);
  font-style: normal;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
}

.selectClassName.invalid {
  border: 1px solid var(--red-r5);
}

.options {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  margin: 0;
  flex-direction: column;
  max-height: 150px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 2;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--neutral-white-n10);
  box-shadow: 0px 16px 32px 4px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral-n20) var(--neutral-n70);
}

.options.show {
  display: flex;
}

.options .option {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.options .option:hover {
  background-color: var(--neutral-n30);
  border-radius: 6px;
}

.arrow {
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--neutral-n100);
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.errorText {
  text-align: center;
  display: block;
  margin-top: 4px;
  position: absolute;
  top: 60px;
  left: 0;
  color: var(--red-r5);
  font-family: var(--primary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.showPasswordButton {
  display: inline-block;
  margin-top: 4px;
  font-size: 12px;
  cursor: pointer;
}

.showPasswordButton:hover {
  border-bottom: 1px solid var(--neutral-black);
}

.input.invalid {
  border-color: var(--red-r5);
}

@media screen and (max-width: 749px) {
  .text,
  .selectClassName {
    font-size: 14px;
  }

  .options {
    top: 60px;
  }

  .options .option {
    font-size: 12px;
  }
}
