.section {
  margin: auto;
}

.wrapper {
  display: grid;
  justify-content: center;
  grid-row-gap: 24px;
  grid-column-gap: 22px;
  grid-template-columns: repeat(4, 1fr);
}

.heading {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block: 0 45px;
}

@media screen and (max-width: 1149px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 849px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 749px) {
  .heading {
    margin-block: 5px 10px;
  }
}

@media screen and (max-width: 549px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
