.section {
  margin: auto;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.heading {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block: 0 45px;
}

.bannerTitleWrapper {
  z-index: 2;
}

.bannerTitleWrapper h2 {
  width: 100%;
  justify-content: center;
}

.modal {
  max-width: 320px;
  row-gap: 4px;
  margin-left: 12px;
}

.button {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  padding-block: 24px;
}

@media screen and (max-width: 749px) {
  .heading {
    margin-block: 5px 10px;
  }
}
