.arrow {
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 749px) {
  .arrow.rotatedUp {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
}
