.center {
  text-align: center;
}

.container {
  min-height: 250px;
  margin-bottom: 24px;
}

.input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid var(--neutral-n50);
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.passwordContainer{
  position: relative;
  border-radius: 6px;
  border: 1px solid #F5F5F5;
  background: var(--neutral-n20);
  padding: 20px;
}

.newPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin: 10px auto;
}

.error {
  display: none;
  text-align: center;
}

.error.show {
  display: block;
}

.successMessage {
  display: none;
  margin-top: 7px;
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-style: normal;
  font-family: var(--primary-bold-font);
  font-size: 14px;
  text-align: center;
}

.successMessage.show {
  display: block;
}

.buttonWrap {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .passwordContainer {
    max-width: 388px;
  }
}

@media screen and (max-width: 749px) {
  .container {
    min-height: 200px;
  }
}
