
.container {
  position: relative;
}

.input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid var(--neutral-n50);
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
}

.label {
  display: block;
}

.label, .input, .selectClassName {
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label .selectClassName,
.label .input {
  margin-top: 8px;
}

.cityInput {
  border-radius: 8px;
}

.cityInput.invalid {
  border: 1px solid var(--red-r5);
  color: var(--red-r5);
}

.arrow {
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--neutral-n100);
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.selectClassName {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid var(--neutral-n50);
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
/* ToDo: duplicated styles */
.options {
  display: none;
  margin: 0;
  flex-direction: column;
  max-height: 235px;
  overflow: hidden;
  overflow-y: scroll;
  padding-inline: 8px;
  background: var(--neutral-white-n10);
  border: 1px solid var(--neutral-n50);
  border-radius: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 66px;
  z-index: 3;
}

.options.show {
  display: flex;
}

.options .option {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}

.options .option:hover {
  background-color: var(--neutral-n30);
}

.selectedSuburbs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 4px;
  margin: 0;
}

.suburbItem {
  background-color: var(--neutral-n20);
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.closeIcon {
  font-family: var(--primary-font);
  cursor: pointer;
}
