.mainWrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileName,
.emailWrapper {
  width: 100%;
}

.profileName {
  margin-bottom: 22px;
}

.profileName .input, .input {
  padding-right: 25px;
}

.input {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid var(--neutral-n50);
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profileName, .email {
  position: relative;
  border-radius: 6px;
  border: 1px solid #F5F5F5;
  background: var(--neutral-n20);
  padding: 12px;
}

.emailWrapper {
  position: relative;
}

@media screen and (min-width: 500px) {
  .container {
    max-width: 388px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
