.mainWrap {
  background: #EEE;
  height: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0;
  padding: 10px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-inline: 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 55px;
}

.text {
  display: flex;
  color: #000;
  font-family: "Abril Fatface";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}

.container button {
  display: flex;
}

.button {
  padding: 8px 15px;
  font-size: 15px;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
}

.button[data-type='close'] {
  border: none;
}

.button.active {
  color: white;
  background-color: black;
}

@media screen and (max-width: 749px) {
  .wrapper {
    gap: 10px;
    padding-left: 0;
  }

  .text {
    font-size: 16px;
  }
}
