.container {
  position: relative;
}

.input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid var(--neutral-n50);
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
}

.label {
  display: block;
}

.label, .input, .selectClassName {
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label .selectClassName,
.label .input {
  margin-top: 8px;
}

.arrow {
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--neutral-n100);
  display: inline-block;
  position: absolute;
  right: 22px;
  bottom: 20px;
  border-radius: 2px;
  cursor: pointer;
}

.selectClassName {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid var(--neutral-n50);
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
/* ToDo: duplicated styles */
.options {
  display: flex;
  margin: 0;
  flex-direction: column;
  max-height: 375px;
  overflow: hidden;
  overflow-y: auto;
  padding: 8px 17px 10px 0;
  z-index: 2;
  background: var(--neutral-white-n10);
  border-radius: 3px;
  border-top: none;
  gap: 8px;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral-n60, --neutral-n20);
}

.options.show {
  display: flex;
}

.options .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8px 10px 16px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  background: var(--neutral-n20);
}

.options .option:hover {
  background-color: var(--neutral-n30);
}

.options .option:hover .checkboxContainer {
  background-color: var(--neutral-n30);
}

.checkboxContainer {
  display: flex;
  background-color: var(--neutral-n20);
  padding: 2px;
}

.selectedSuburbs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 6px;
  margin: 0;
  margin-bottom: 12px;
  max-height: 86px;
  overflow: hidden;
  overflow-y: auto;
}

.suburbItem {
  background-color: var(--neutral-n20);
  border-radius: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 16px;
}

.item {
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.suburbInputWrapper {
  border: 1px solid var(--neutral-n50);
  border-radius: 3px;
  padding: 12px;
}

.suburbInput {
  margin-top: 25px;
}

.closeIcon {
  font-family: var(--primary-font);
  cursor: pointer;
}
