.container {
  background: #EEE;
}

.wrapper {
  display: flex;
  min-height: 366px;
  flex-wrap: wrap;
  position: relative;
}

.wrapper * {
  margin: 0;
  position: relative;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  width: 85%;
  gap: 15px;
}

.imageWrap {
  display: flex;
  position: absolute;
  right: 35px;
  top: 89px;
  width: 179px;
}

.imageWrap > img {
  width: 100%;
  height: 100%;
}

.title {
  max-width: 543px;
  color: #000;
  font-family: "Abril Fatface";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 80px;
  padding-bottom: 80px;
}

.description {
  color: #000;
  font-family: "Urbanist";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 423px;
  padding-top: 94px;
}

.imageWrap > img {
  margin-right: -9px;
  object-fit: contain;
}

@media screen and (max-width: 1279px) {
  .mainContent {
    width: 80%;
  }

  .description,
  .title {
    width: calc(50% - 10px);
  }

  .description {
    font-size: 14px;
  }

  .title {
    font-size: 30px;
  }

  .imageWrap {
    width: 150px;
  }
}

@media screen and (max-width: 749px) {
  .mainContent {
    flex-wrap: wrap;
    width: 100%;
  }

  .wrapper {
    min-height: unset;
  }

  .description,
  .title {
    width: 100%;
    display: flex;
  }

  .title {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 24px;
    align-items: center;
  }

  .description {
    padding-top: 10px;
    padding-bottom: 148px;
    font-size: 12px;
  }

  .imageWrap {
    top: unset;
    right: 20px;
    height: 100px;
    bottom: 32px;
  }

  .imageWrap > img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 750px) {
  .wrapper {
    column-gap: 20px;
  }
}
