.mainWrap {
  position: relative;
}

.mainWrap.client {
  padding-block: 0 50px;
}

.successfullMessage {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
}

.successfullMessage.show {
  opacity: 1;
  visibility: visible;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 15px;
}

.approvedStatus {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 949px) {
  .mainWrap {
    padding-block: 0;
  }
}

@media screen and (max-width: 549px) {
  .submitButton {
    font-size: 14px;
    padding: 5px 10px;
  }
}
