.card {
  width: 100%;
}

.card.hasCount {
  max-width: calc(var(--provider-card-width) - 17px);
  width: calc(var(--provider-card-width) - 17px);
}

.mainWrap {
  position: relative;
  padding: 13px 16px;
  border-radius: 10px;
  border: 2px solid var(--neutral-n20);
  background-color: var(--neutral-black);
  overflow: hidden;
  transition: background-color .2s ease-in-out;
}

.link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  padding-top: var(--image-aspect-ratio);
  position: relative;
  top: 0;
}

.info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 13px;
  left: 15px;
  right: 15px;
  padding-top: 16px;
  transform: translateY(0);
  background-color: var(--neutral-black);
  transition: background-color .2s ease-in-out;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.user {
  margin: 0;
  color: var(--neutral-white-n10);
  font-family: var(--primary-bold-font);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-overflow: ellipsis;
  max-width: 45%;
  white-space: nowrap;
  overflow: hidden;
}

.cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(55% - 8px);
  gap: 8px;
}

.text {
  color: var(--neutral-white-n10);
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.starIcon {
  display: block;
  background-color: var(--neutral-white-n10);
  border-radius: 10px;
  border: 1px solid var(--neutral-white-n10);
  padding: 8px;
  display: flex;
  position: absolute;
  right: 22px;
  top: 19px;
  z-index: 2;
}

.services {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 8px;
}

.otherInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.otherInfo .text {
  padding-top: 13px;
}

.badgeContainer {
  position: absolute;
  top: 21px;
  left: 24px;
  right: 24px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.60);
  backdrop-filter: blur(4.5px);
  padding: 5px 12px;
  text-align: center;
  z-index: 1;
}

.badge {
  color: var(--neutral-white-n10);
  font-family: var(--primary-bold-font);
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

@media screen and (min-width: 900px) {
  .otherInfo {
    height: 0;
    opacity: 0;
    transition: visibility .4s ease-in-out;
  }

  .card:hover .info,
  .card:hover .mainWrap {
    background: var(--color-hover);
  }
  
  .card:hover .otherInfo {
    height: unset;
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .data {
    flex-wrap: wrap;
  }

  .data .user, 
  .data .cost {
    max-width: 100%;
  }
}

@media screen and (max-width: 1259px) {
  .card.hasCount {
    max-width: calc(33.3% - 15px);
    width: calc(33.3% - 15px)
  }

  .data {
    flex-wrap: wrap;
  }

  .data .user, 
  .data .cost {
    max-width: 100%;
  }
}

@media screen and (max-width: 948px) {
  .card.hasCount {
    max-width: calc(50% - 17px);
    width: calc(50% - 17px)
  }
}

@media screen and (max-width: 590px) {
  .card.hasCount {
    max-width: 100%;
    width: 100%;
  }
}
