.card {
  width: 100%;
  position: relative;
}

.card.hasCount {
  max-width: calc(var(--provider-card-width) - 17px);
  width: calc(var(--provider-card-width) - 17px);
}

.mainWrap, .managerProviderCardWrapper {
  position: relative;
  padding: 13px 16px;
  border-radius: 10px;
  border: 2px solid var(--neutral-n20);
  background-color: var(--neutral-black);
  overflow: hidden;
  transition: background-color .2s ease-in-out;
}

.link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.imageWrapper {
  position: relative;
}

.available {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 24px;
  background: var(--color-main);
  padding: 5px 10px;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 3;
}

.badge {
  color: var(--neutral-white-n10);
  font-family: var(--primary-bold-font);
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 13px;
  left: 15px;
  right: 15px;
  padding-top: 16px;
  transform: translateY(0);
  background-color: var(--neutral-black);
  transition: background-color .2s ease-in-out;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.user {
  margin: 0;
  color: var(--neutral-white-n10);
  font-family: var(--primary-bold-font);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-overflow: ellipsis;
  max-width: 45%;
  white-space: nowrap;
  overflow: hidden;
}

.cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(55% - 8px);
  gap: 8px;
}

.text {
  color: var(--neutral-white-n10);
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.starIcon {
  background-color: var(--neutral-white-n10);
  border-radius: 10px;
  border: 1px solid var(--neutral-white-n10);
  padding: 8px;
  display: flex;
  position: absolute;
  right: 22px;
  top: 19px;
  z-index: 9;
}

.services {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 8px;
}

.otherInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.otherInfo .text,
.digitalService {
  padding-top: 13px;
}

.badgeContainer {
  position: absolute;
  top: 21px;
  left: 24px;
  right: 24px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.60);
  backdrop-filter: blur(4.5px);
  padding: 5px 12px;
  text-align: center;
  z-index: 1;
}

.badge {
  color: var(--neutral-white-n10);
  font-family: var(--primary-bold-font);
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.digitalServiceText {
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 5px 11px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.20);
}

.managerProviderCard {
  display: flex;
  position: relative;
}

.managerProviderCardWrapper {
  flex-grow: 1;
  border-radius: 10px;
  border: 2px solid var(--neutral-n20);
  background: var(--neutral-white-n10);
}

.managerProviderInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 15px;
  background: var(--neutral-n10);
  transition: background-color .2s ease-in-out;
  min-height: 135px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.fullname {
  color: var(--neutral-black);
  font-family: var(--headings-font);
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 152px);
}

.profilePicture {
  position: relative;
  background-color: var(--grey);
}

.emptyImage {
  padding-top: var(--ratio-percent);
}

.button {
  cursor: pointer;
  transition:opacity .2s ease-in;
}

.button:hover {
  opacity: 80%;
}

.visitProfileButton {
  gap: 8px;
}

.verificationBadgeContainer {
  display: flex;
  padding: 7px 4px;
  position: absolute;
  top: 25.5px;
  left: 25.5px;
  border-radius: 8px;
  background: var(--neutral-white-n10);
  z-index: 3;
  cursor: pointer;
}

.verificationBadgeContainer > svg {
  width: 36px;
  height: 26px;
}

.verificationBadgeContainer::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 11px;
  border-style: solid;
  border-color: transparent transparent var(--neutral-white-n10) transparent ;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.verificationBadgeContainer::after {
  content: var(--verification-badge-text);
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--neutral-white-n10);
  color: var(--neutral-black);
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 20px;
  padding: 4px 8px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  pointer-events: none;
  z-index: 8;
}

.verifiedIconContainer {
  position: absolute;
  display: flex;
  bottom: 155px;
  right: 24.5px;
  z-index: 8;
  cursor: pointer;
}

.verifiedIconContainer::before {
  content: "Approved by admin";
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--neutral-white-n10);
  color: var(--neutral-black);
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 20px;
  padding: 4px 8px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  pointer-events: none;
  z-index: 8;
}

.verifiedIconContainer::after {
  content: "";
  position: absolute;
  bottom: 67%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 11px;
  border-style: solid;
  border-color: var(--neutral-white-n10) transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.verifiedIconContainer:hover::before,
.verifiedIconContainer:hover::after,
.verificationBadgeContainer:hover::before,
.verificationBadgeContainer:hover::after {
  opacity: 1;
  visibility: visible;
}

.logoText {
  color: var(--neutral-white-n10);
  font-family: var(--headings-font);
  font-size: 1.75em;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  line-height: 70px;
}

@media screen and (min-width: 900px) {
  .otherInfo {
    height: 0;
    opacity: 0;
    transition: visibility .4s ease-in-out;
  }

  .card:hover .info,
  .card:hover .mainWrap {
    background: var(--color-hover);
  }
  
  .card:hover .otherInfo {
    height: unset;
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .data {
    flex-wrap: wrap;
  }

  .data .user, 
  .data .cost {
    max-width: 100%;
  }
}

@media screen and (max-width: 1259px) {
  .card.hasCount {
    max-width: calc(33.3% - 15px);
    width: calc(33.3% - 15px)
  }

  .data {
    flex-wrap: wrap;
  }

  .data .user, 
  .data .cost {
    max-width: 100%;
  }
}

@media screen and (max-width: 948px) {
  .card.hasCount {
    max-width: calc(50% - 17px);
    width: calc(50% - 17px)
  }
}

@media screen and (max-width: 590px) {
  .card.hasCount {
    max-width: 100%;
    width: 100%;
  }

  .fullname {
    font-size: 24px;
  }
}
