.whenCanWeMeetContainer {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 24px;
}

.scheduleContainer {
  grid-column: 1/3;
  width: 100%;
}

@media screen and (max-width: 989px) {
  .whenCanWeMeetContainer {
    display: flex;
    flex-direction: column;
  }
}
