.imageWrapper {
  width: 100%;
  position: relative;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 749px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
