.pageContainer {
  background: var(--neutral-n20);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.button {
  border-radius: 3px;
}

.message {
  display: block;
  opacity: 0;
  visibility: hidden;
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-block: 10px;
}

.message.show {
  opacity: 1;
  visibility: visible;
}

.mainWrap {
  margin-bottom: 40px;
}

.heading {
  text-align: center;
  font-family: var(--headings-font);
  color: var(--neutral-black);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block: 20px;
}

.subtitle {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--neutral-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block: 20px;
}

.bold {
  color: var(--red-r5);
  font-family: var(--primary-bold-font);
}

.mainInfo {
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 800px;
  grid-row-gap: 10px;
}

.mainInfo span {
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 400;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 0 5px;
}

@media screen and (max-width: 749px) {
  .mainWrap {
    margin-block: 25px;
  }

  .heading {
    font-size: 24px;
  }

  .button {
    padding: 6px 12px;
  }
}
