.title {
  display: flex;
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #c6c6c6;
  margin-block: 30px 20px;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconInfo {
  width: 24px;
}
