.error {
  display: block;
  text-align: center;
  margin-top: 6px;
  color: var(--red-r5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.selectedItems {
  display: flex;
  align-items: center;
  column-gap: 12px;
  row-gap: 12px;
  flex-wrap: wrap;
  margin: 0 0 12px 0;
  padding: 0 10px 0 0;
  max-height: 21vh;
  overflow: auto;
  width: 100%;
}

.selectedItem {
  background-color: var(--neutral-n20);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 16px;
}

.selectedItemTitle {
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.textInput {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: none;
  background: var(--neutral-white-n10);
}

.input {
  border-radius: 10px;
  border: 1px solid var(--neutral-n50);
  width: 100%;
  padding: 6px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.itemContainer {
  display: block;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  border-radius: 3px;
}

.servicesContainer {
  width: 100%;
}

.servicesContainer .interestsList {
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  margin-top: 8px;
  border: 1px solid var(--color-main);
  min-width: 100px;
}

.closeIcon {
  font-family: var(--primary-font);
  cursor: pointer;
}

.input.info {
  width: 80%;
}

.subtitle {
  color: var(--neutral-black);
  font-family: var(--primary-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block: 0 8px;
}

@media screen and (min-width: 750px) {
  .input.serviceInput {
    width: 35%;
    padding: 7px 10px;
    border: 1px solid var(--neutral-n50);
    border-radius: 3px;
  }

  .preferencesList.services {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
}

@media screen and (max-width: 749px) {
  .subtitle {
    font-size: 18px;
  }

  .additionalInfo {
    max-height: 80px;
    row-gap: 5px;
    column-gap: 5px;
  }
}
