.container {
  margin-top: 62px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  justify-content: flex-start;
  padding-block: 32px 64px;
  grid-gap: 24px;
}

.title {
  margin: 0;
  color: #000;
  font-family: "Abril Fatface";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1179px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    margin-top: 20px;
  }

  .title {
    font-size: 34px;
  }
}

@media screen and (max-width: 749px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 24px;
  }

  .wrapper {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 15px 35px;
  }
}
